CompileFlags:
  Add: [
    -Wall, -Wextra, -Wpedantic,
    -DDEBUG,
    -xc, --std=c11,
  ]
---
If:
  PathMatch: src/.+/.+\.[ch]
CompileFlags:
  Add: [
    -I../../include,
  ]
---
If:
  PathMatch: src/.+/.+/.+\.[ch]
CompileFlags:
  Add: [
    -I../../../include,
  ]
